# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [5]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drinks = pd.read_csv(
    url,
    sep=','
).convert_dtypes()
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [12]:
c = drinks.groupby(by='continent')
c = c['beer_servings'].sum()
c = c.sort_values(ascending=False)
c

continent
EU    8720
AF    3258
SA    2101
AS    1630
OC    1435
Name: beer_servings, dtype: Int64

### Step 5. For each continent print the statistics for wine consumption.

In [30]:
w = drinks.groupby(by='continent')
w = w['wine_servings'].describe().T
w

continent         AF         AS          EU        OC         SA
count           53.0       44.0        45.0      16.0       12.0
mean       16.264151   9.068182  142.222222    35.625  62.416667
std        38.846419  21.667034   97.421738  64.55579  88.620189
min              0.0        0.0         0.0       0.0        1.0
25%              1.0        0.0        59.0       1.0        3.0
50%              2.0        1.0       128.0       8.5       12.0
75%             13.0        8.0       195.0     23.25       98.5
max            233.0      123.0       370.0     212.0      221.0

### Step 6. Print the mean alcohol consumption per continent for every column

### Step 7. Print the median alcohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame