In [4]:
import os
import pandas as pd
import numpy as np

print(f'pandas version: {pd.__version__}')
print(f'numpy version: {np.__version__}')

pandas version: 2.2.2
numpy version: 2.0.0

In [5]:
print(os.getcwd())
print(os.listdir())

c:\Users\ccino\Documents\pandas\pandas_exercises\own notebooks
['lessons.ipynb']

In [7]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
df = pd.read_table(url)
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [25]:
#dataframe creation examples
#from dict
dict_example = {"A" : [1, 2, 3],
                "B" : [4, 5, 6],
                "C" : [7, 8, 9],
                "D" : [10, 11, 12]}

df_dict = pd.DataFrame(dict_example)
df_dict.head()

#from list of lists
df_lists = pd.DataFrame(data = [
                        [1, 2, 3],
                        [4, 5, 6],
                        [7, 8, 9]],
                        columns=['A', 'B', 'C'])
df_lists.head()

#from series
np_generator = np.random.default_rng(seed=12545)
df_series = pd.DataFrame(data = 
                         {"Names" : ["Ana", "Clara", "Julia", "Pedro", "Caio"],
                          "Age" : np_generator.integers(low=10, high=25, size=5),
                          "Gender" : pd.Series(np_generator.choice(["m", "f", pd.NA], size=5, replace=True), dtype='string'),
                          "Number" : np.round(np_generator.uniform(low=10, high=20, size=5),2),
                          "Condition" : np_generator.choice([True, False], size=5)})

df_series.head()

   Names  Age Gender  Number  Condition
0    Ana   17      f   18.87      False
1  Clara   20      m   11.55       True
2  Julia   15      f   18.61      False
3  Pedro   18   <NA>   12.48       True
4   Caio   17      f   10.73      False

In [26]:
#dataframe slicing
#by position
df_series.iloc[1]

Names        Clara
Age             20
Gender           m
Number       11.55
Condition     True
Name: 1, dtype: object